//- layout.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div
      a(href="/")
        img(src="/images/VM.jpg", alt="VM_icon", align = "left")
    h2.vcaccinemon= title
  body      
    block content
    block foot