doctype html
html
  head
  title= VaccineMON
  link(rel='stylesheet', href='/stylesheets/style.css')
        
    
  body
    block header
        br
        br
        br
        br
        br
        div.item
            a(href="/")
                img(src="/images/VM.jpg", alt="VM_icon", align = "center")
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        div      
            a(href="/pune" , align = "left", style="font-size: 30px; color: #2a2c4f") PUNE              
    block content
        h2.licensemon= title
    block footer